<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container">
    <div>
        <h1 th:text="#{member.text.welcome}">Hello Spring</h1>
        <p th:text="#{member.text.title}">회원 기능</p>
        <p>
            <a href="/members/new" th:text="#{member.text.join}">회원 가입</a>
            <a href="/members" th:text="#{member.text.list}}">회원 목록</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>